<ion-header>

  <ion-navbar>
    <ion-title>locations</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content>

<ion-content>
  <div #map id="map">

  </div>

  <div *ngIf="locationList?.length > 0; else noLocations" class="content">
    <ion-scroll scrollY="true" style="height: 240px">
      <ion-list class="location-list">
        <button ion-item *ngFor="let location of locationList" (click)="mapLocation(location)" class="location-list-item"><strong>{{location.title}}</strong>: {{location.description}}<p>At: {{location.coordinates._lat}}, {{location.coordinates._long}}</p></button>
      </ion-list>
    </ion-scroll>
  </div>

  <ng-template #noLocations>
    <hr>
    <h5>There are no locations available</h5>
  </ng-template>
</ion-content>
