<ion-header>

  <ion-navbar>
    <ion-title>locations</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content>

<ion-content>
  <agm-map [latitude]="userLat" [longitude]="userLong">
    <agm-marker [latitude]="userLat" [longitude]="userLong" [iconUrl]="'assets/imgs/mobileimgs2.png'">
      <agm-info-window>
        <h3><strong>Hello!</strong></h3>
        <p>You are right here!</p>
      </agm-info-window>
    </agm-marker>
    <agm-marker *ngFor="let marker of markers"
                [latitude]="marker.location[0]"
                [longitude]="marker.location[1]" (markerClick)="getLocationData(marker.ID)">
      <agm-info-window>
        <h3><strong>{{marker.name}}</strong></h3>
        <p>Marker: {{marker.ID}} is {{ marker.distance }} kilometers from you</p>
        <p>{{locationDescription}}</p>
      </agm-info-window>
    </agm-marker>
  </agm-map>
  <button ion-button (click)="navigateHome()">Go Back To Home Page</button>

  <div *ngIf="markers?.length > 0; else noLocations" class="content">
    <ion-scroll scrollY="true" style="height: 200px">
      <ion-list class="location-list">
        <button ion-item (click)="createLocation()" >Seed DB <p>(this is temporary and strictly for testing)</p></button>
        <button ion-item *ngFor="let marker of markers"><strong>{{marker.name}}: </strong>{{marker.description}}</button>
      </ion-list>
    </ion-scroll>
  </div>

  <ng-template #noLocations>
    <hr>
    <h5>There are no locations available</h5>
  </ng-template>
</ion-content>
