<ion-header>

  <ion-navbar>
    <ion-title>locations</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content>

<ion-content>

  <div *ngIf="markers?.length > 0; else noLocations" class="content">
    <ion-list>
      <ion-item>
      <ion-label>Category:</ion-label>
      <ion-select interface="popover" [(ngModel)]="locationCategory" (ionChange)="filterLocations(locationCategory, markers)" >
        <ion-option value="">All</ion-option>
        <ion-option value="Home & Auto">Home & Auto</ion-option>
        <ion-option value="Home">Home</ion-option>
        <ion-option value="Auto">Auto</ion-option>
      </ion-select>
      </ion-item>
      <ion-item>
      <ion-label>Select Radius</ion-label>
      <ion-select interface="popover" [(ngModel)]="radius" (ionChange)="searchNewRadius(radius); filterLocations(locationCategory, markers)">
        <ion-option [value]=1000>75 miles</ion-option>
        <ion-option [value]=80.4672>50 miles</ion-option>
        <ion-option [value]=40.2336>25 miles</ion-option>
      </ion-select>
      </ion-item>
    </ion-list>
      <ion-list class="location-list" >
        <button ion-item (click)="createLocation()" >Seed DB <p>(this is temporary and strictly for testing)</p></button>
        <button ion-item  *ngFor="let marker of filterLocations(locationCategory, markers)" (click)="openLocationModal(marker)"><strong>{{marker.name}}: </strong>{{marker.category}}
          <p>{{(marker.distance/1.609344).toFixed(2)}} miles away</p>
          <p>{{marker.description}}</p></button>
      </ion-list>
  </div>

  <ng-template #noLocations>
    <hr>
    <h5>There are no locations available</h5>
  </ng-template>
</ion-content>
